@include for-md-screen{
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper{
        padding-top: 17.1rem;
        padding-bottom: 12.9rem;
    }
}

@include for-lg-screen{
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper{
        padding-top: 17.1rem;
        padding-bottom: 12.9rem;
    }
}
